/* Основа */
.hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Остальное/main.jpg);
    background-color: var(--black-fon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    &__text {
        width: 696px;
        margin-bottom: 30px;
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--wgt-text);
    }
}

