/* Наша команда */

.team {
    background-color: var(--grey-fon);

    &__list &__item+&__item {
        margin-left: 30px;
    }
    
    &__dream {
        margin-bottom: 50px;
    
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__item {
        background-color: var(--wght-fon);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    &__item {
        border-radius: 50%;
    }
    
    &__item:not(:last-child) {
        margin-right: 10px;
    }
    
    &__link {
        fill: #AFB1B8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
    
        transition: fill var(--anim-spb);
    
    }
    
    &__item:hover,
    &__item:focus {
        background-color: #188ce8;
    
    
    }
    
    &__item:hover &__link,
    &__item:focus &__link {
        fill: #ffffff;
    
    }

}

.card {
    padding: 30px;

    &__name {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 10px;
    }
    
    &__text {
        text-align: center;
        color: var(--grey-text);
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
    }
}

