/*Постоянные клиенты*/
.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-text)
}

.clients__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition: border var(--anim-spb);
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;

    transition: fill var(--anim-spb)
}

.clients__item:hover,
.clients__item:focus {
    border: 1px solid var(--blue-text);


}

.clients__item:hover .clients__link,
.clients__item:focus .clients__link {
    fill: var(--blue-text);



}