/* Подвал */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-fon);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer__link {
    display: inline-block;

    margin-bottom: 20px;

    font-family: var(--secondary-fond);
    color: var(--blue-text);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer__fon {
    color: var(--wght-fon);
}

.footer__address {
    display: inline-block;
    margin-bottom: 9px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--wgt-text);
}

.footer__mail {
    display: block;
    margin-bottom: 9px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}

.footer__tel {
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}

.footer__address:hover,
.footer__address:focus {
    color: var(--blue-text);
}

.container .footer__first {
    list-style: none;
    margin-right: 70px;
}

.container .footer__second {
    list-style: none;
    margin-right: auto;
}

.container .footer__third {
    margin-right: 0;
}



.footer__txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wgt-text);
    margin-bottom: 20px;
}

.footer__input {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 12px;
    min-width: 358px;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 358px;
    background-color: var(--black-fon);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.footer__icon {
    position: absolute;
    bottom: 13px;
    right: 28px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.subscribe {
    display: flex;
    justify-content: center;
    margin-top: 16px
}

.subscribe__item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background var(--anim-spb);
}

.subscribe__item:not(:last-child) {
    margin-right: 10px;
}

.subscribe__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--wgt-text);


}

.subscribe__item:hover,
.subscribe__item:focus {
    background-color: var(--blue-text);

}